.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(51,51,51,0.24);
  padding: 40px;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

form {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.divider {
  height: 5vw;
  max-height: 100px;
}

body {
  background: rgb(30,30,40);
}

.feedback-input {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #f2ce60;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  color: rgb(255,255,255);
  border: -3px solid #a7893a;
}

textarea {
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 50%;
  align-items: center;
  background: rgba(255,255,255,0);
  border-radius: 5px;
  border: 2px solid rgb(242,206,96);
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

[type="submit"]:hover {
  border: 2px solid #a7893a;
}

[class="button"] {
  text-align: center;
}

.col.about {
  margin-left: 1vw;
  margin-right: 2vw;
}

#about-img {
  align-items: center;
  max-width: 40%;
  max-height: 600px;
}

.container.d-lg-flex.justify-content-lg-start.about {
  padding-top: 0px;
}

@media (max-width: 575px) {
  .d-lg-flex {
  }
}

#about-row {
  padding-top: 30px;
  width: 96vw;
}

.connect-icon {
  font-size: 32px;
  display: inline-block;
  color: #0056b3;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #0056b3;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

@media (max-width: 991px) {
  #about-img {
    min-width: 97%;
    max-height: 600px;
  }
}

img {
  width: 100%;
  height: 100%;
  border: 0;
}

.d-flex.about-img {
  max-height: 600px;
}

@media (max-width: 991px) {
  .col.about-text {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .col.about-text {
    margin-top: 80px;
  }
}

@media (max-width: 464px) {
  .col.about-text {
    margin-top: 130px;
  }
}

@media (min-width: 1200px) {
  .col.about-text {
    max-height: 960px;
  }
}

.text-center {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

img {
  max-width: 900px;
  max-height: 600px;
}

#name {
  padding-bottom: 0px;
}

#wip:hover {
  color: rgb(187,187,187);
  border: 1px solid rgb(187,187,187);
  text-decoration: none;
}

a {
  color: #0056b3;
}

#wip {
  border: 1px solid white;
  color: white;
}

#home {
  padding-top: 10px;
  padding-bottom: 0;
}

#wiplinks {
  color: white;
}

.wiplink {
  color: white;
}

@media (max-width: 576px) {
  #index {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

@media (min-width: 576px) {
  #navname {
    font-size: 2.5vw;
  }
}

@media (max-width: 575px) {
  #navname {
    font-size: 4vw;
  }
}

#navlink:hover {
  color: rgb(187,187,187);
  text-decoration: none;
}

.wiplink:hover {
  color: rgb(187,187,187);
  text-decoration: none;
}

#homebutton:hover {
  color: rgb(187,187,187);
  border: 1px solid rgb(187,187,187);
}

.connect-icon:hover {
  color: #54a4ed;
  border: 1px solid #54a4ed;
}

a:hover {
  color: #54a4ed;
  text-decoration: none;
}

.connect-icon:hover {
  color: #54a4ed;
  text-decoration: none;
}

.connectbottomcircle {
  border: 1px solid #54a4ed;
}

#aboutbar:hover {
  color: #0056b3;
}

.col-sm-6.col-lg-4.item {
  padding-bottom: 10px;
}

.h3, h3 {
  padding-top: 8px;
}

.card.border-dark {
  height: 100%;
  border-color: rgb(0,86,179)!important;
  border-radius: 10px;
}

.card-header.bg-dark.text-light {
  font-family: 'Raleway';
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-dark {
  background-color: rgba(255,255,255,0);
  border-color: #0056b3;
  text-decoration: none;
  color: #0056b3;
}

.btn-dark:hover {
  color: #54a4ed;
  background-color: rgba(255,255,255,0);
  border-color: #54a4ed;
}

.card-img.w-100.d-block.projimg {
  border-right: 0;
  border-left: 0;
}

