.navigation-clean {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .navigation-clean {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(IMG_9776.jpg);
  }
}

.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-brand:hover {
  color: #222;
}

.navigation-clean.navbar-dark .navbar-brand:hover {
  color: #f0f0f0;
}

.navigation-clean .navbar-brand img {
  height: 100%;
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean.navbar-dark .navbar-toggler {
  border-color: #555;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean.navbar-dark .navbar-toggler {
  color: #eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
  background-color: white;
  padding-left: 0px;
}

.navigation-clean.navbar-dark .navbar-collapse, .navigation-clean.navbar-dark .form-inline {
  border-top-color: #333;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .show > a {
  background: none;
  box-shadow: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

@media (min-width:768px) {
  .navigation-clean .navbar-nav .show .dropdown-menu {
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #37434d;
    padding-top: .8rem;
    padding-bottom: .8rem;
    line-height: 1;
  }
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean.navbar-dark {
  background-color: #1f2021;
  color: #fff;
}

.navigation-clean.navbar-dark .navbar-nav a.active, .navigation-clean.navbar-dark .navbar-nav a.active:focus, .navigation-clean.navbar-dark .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-dark .navbar-nav .nav-link {
  color: #dfe8ee;
}

.navigation-clean.navbar-dark .navbar-nav .nav-link:focus, .navigation-clean.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: transparent;
}

.navigation-clean.navbar-dark .navbar-nav > li > .dropdown-menu {
  background-color: #1f2021;
}

.navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item {
  color: #f2f5f8;
}

.navigation-clean.navbar-dark .dropdown-menu .dropdown-item:focus, .navigation-clean.navbar-dark .dropdown-menu .dropdown-item:hover {
  background: #363739;
}

@media (max-width:767px) {
  .navigation-clean.navbar-dark .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fff;
  }
}

@media (min-width: 768px) {
  #welc {
    padding-top: 20px;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 60px;
  }
}

.col {
  width: 40%;
  text-align: center;
  margin-bottom: 50px;
}

#titles {
  text-align: center;
}

#intro {
  padding-top: 40px;
}

.row {
  padding-top: 30px;
  text-align: center;
}

.contact-clean {
  padding-top: 0px;
}

.navbar.navbar-light.navbar-expand-md {
  padding-top: 30px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  #welcome {
    width: 100%;
    /*height: 100vh;*/
    background-image: url("../../assets/img/IMG_8521.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255,255,255);
  }
}

@media (max-width: 767px) {
  #welcome {
    width: 100%;
    /*height: 68vh;*/
    background-image: url("../../assets/img/IMG_8521.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255,255,255);
  }
}

@media (min-width: 576px) {
  #welc {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  #welcome {
    background-position: center;
  }
}

@media (max-width: 575px) {
  #welcome {
    background-size: contain;
    background-position: top;
  }
}

@media (min-width: 576px) {
  .navbar-light .navbar-brand {
    font-size: 28px;
  }
}

@media (max-width: 575px) {
  .navbar-light .navbar-brand {
    font-size: 15px;
  }
}

@media (min-width: 576px) {
  .btn.btn-lg.text-nowrap.text-center.text-white.border-light.shadow-none.d-flex.d-sm-flex.justify-content-center.justify-content-sm-center {
    margin: 4px;
  }
}

@media (max-width: 575px) {
  .btn.btn-sm.text-nowrap.text-center.text-white.border-light.shadow-none.d-flex.d-sm-flex.justify-content-center.justify-content-sm-center {
    font-size: 12px;
    margin-top: 15px;
  }
}

@media (min-width: 576px) {
  .btn.btn-sm.text-nowrap.text-center.text-white.border-light.shadow-none.d-flex.d-sm-flex.justify-content-center.justify-content-sm-center {
    font-size: 15px;
    margin: 7px;
  }
}

@media (max-width: 575px) {
  .btn.btn-lg.text-nowrap.text-center.text-white.border-light.shadow-none.d-flex.d-sm-flex.justify-content-center.justify-content-sm-center {
    margin-top: 12px;
  }
}

.fa.fa-bar-chart {
  font-size: 30px;
  margin-bottom: 10px;
}

.icon.ion-ios-paper {
  font-size: 30px;
}

.fa.fa-pencil {
  font-size: 30px;
  margin-bottom: 10px;
}

.fa.fa-book {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .col.titles {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  .col.titles {
    max-width: 270px;
  }
}

@media (min-width: 854px) {
  #mid {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media (min-width: 576px) {
  .navbar-light .navbar-brand {
    font-size: 3vw;
  }
}

@media (max-width: 575px) {
  .navbar-light .navbar-brand {
    font-size: 4vw;
  }
}

@media (min-width: 576px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    padding-top: 2vw;
  }
}

@media (max-width: 575px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    padding-top: 3vw;
  }
}

.mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
  text-align: center;
}

@media (max-width: 767px) {
  .nav.navbar-nav.ml-auto {
    align-items: end;
  }
}

#navlinks {
  margin-right: 1vw;
}

